@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    }

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    }

    html {
        height: 100%;
    }

    body {
        min-width: 1280px;
        height: 100%;
        margin: 0;
        font-family: "PT Sans", sans-serif;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        background-color: #f2f2f2;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 1200px;
        min-height: 100%;
        margin: 0 auto;
        background-color: #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    }

    img {
        object-fit: contain;
    }

    *,
    *::before,
    *::after {
         box-sizing: border-box;
        }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        border: 0;
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    .button {
        display: block;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        border-radius: 4px;
        padding: 0;
        margin: 0;
    }

    /*Шапка*/

    .page-header {
        position: relative;
        width: 1060px;
        min-height: 64px;
        margin: 0 auto;
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 892px;
        margin: 0;
        margin-left: 168px;
    }

    .navigation-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 500px;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .navigation-user {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 380px;
        list-style-type: none;
    }

    .navigation-user-item {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 44px;
        height: 64px;
    }

    .navigation-link {
        display: block;
        padding: 20px 16px;
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
        color: #000000;
        text-decoration: none;
    }

    .navigation-link:hover {
        color: #756157;
    }

    .navigation-link:focus {
        color: #756157;
    }

    .navigation-link-current {
        position: relative;
    }

    .navigation-link-current:after {
        position: absolute;
        content: "";
        right: 16px;
        left: 16px;
        bottom: 0;
        background-color: #756257;
        height: 2px;
    }

    .navigation-user-link {
        display: block;
        padding: 22px 22px;
        min-width: 20px;
        min-height: 20px;
        text-decoration: none;
    }

    .navigation-link-search {
        width: 20px;
        height: 20px;
        background-image: url("../images/header/search.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .navigation-link-favorites {
        position: relative;
        width: 20px;
        height: 20px;
        background-image: url("../images/header/heart.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .notification-badge {
        position: absolute;
        background-color: #7db54f;
        border-radius: 50%;
        font-weight: 400;
        font-size: 10px;
        line-height: 10px;
        padding: 5px;
        left: 20px;
        top: 0;
        color: #ffffff;
    }

    .button-header {
        padding: 8px 34px;
        margin-left: 20px;
        color: #ffffff;
        background-color: #756157;
    }

    /*Основное содержание*/

    .main-container {
        flex-grow: 1;
    }

    .hero {
        position: relative;
        margin: 0 auto;
        padding: 51px 100px 82px;
        text-align: center;
        color: #ffffff;
        background-color: #00bfff;
        background-image: url("../images/index/background.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .hero::after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: "";
        display: block;
        background-image: url("../images/index/background-end.svg");
        background-repeat: no-repeat;
        height: 57px;
        width: 1200px;
    }

    .advantages {
        padding-top: 69px;
        padding-bottom: 0;
    }

    .advantages-container {
        width: 700px;
        margin: 0 auto;
        margin-bottom: 90px;
        text-align: center;
    }

    .lead-advantages {
        margin-top: 0;
        margin-bottom: 25px;
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    .description-advantages {
        margin-top: 0;
        font-size: 22px;
        line-height: 26px;
        font-weight: 400;
        text-align: center;
        color: #333333;
    }

    .advantages-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        text-align: center;
        list-style-type: none;
    }

    .advantages-item {
        width: 400px;
        min-height: 385px;
        margin: 0;
        padding: 100px 85px;
        text-align: center;
        color: #ffffff;
        background-color: #82b3d3;
    }

    .advantages-item-picture {
        display: flex;
        width: 1200px;
        margin: 0;
        padding: 0;
    }

    .advantages-item-container {
        margin: 100px 85px;
    }

    .advantages-item-square,
    .advantages-item-tourist {
        padding: 112px 85px;
        color: #333333;
        background-color: rgba(131, 179, 211, 0.12);
    }

    .advantages-item-road {
        padding: 112px 85px;
        color: #333333;
        background-color: rgba(131, 179, 211, 0.2);
    }

    .advantages-title {
        margin: 0;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;    
    }

    .advantages-title::after {
        display: block;
        margin: 0 auto;
        content: "";
        width: 60px;
        padding-bottom: 30px;
        text-align: center;
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    }

    .advantages-description {
        margin: 0;
        padding-top: 30px;
        text-align: center;
    }  

    .advantages-title-square,
    .advantages-title-road,
    .advantages-title-tourist {
        color: #000000;
    }

    .advantages-title-square::after,
    .advantages-title-road::after,
    .advantages-title-tourist::after {
        border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    }

    .services {
        padding-top: 64px;
        padding-bottom: 0;
    }

    .services-container {
        width: 660px;
        margin: 0 auto;
        margin-bottom: 64px;
        text-align: center;
    }

    .lead-services {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    .description-services {
        margin-top: 0;
        font-size: 22px;
        line-height: 26px;
        font-weight: 400;
        text-align: center;
        color: #333333;
    }

    .services-list {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .services-item {
        width: 400px;
        min-height: 385px;
        padding: 81px 85px;
        background-color: rgba(131, 179, 211, 0.12);
    }

    .services-item-housing {
        background-image: url("../images/index/house.svg");
        background-repeat: no-repeat;
        background-position: 163.5px 81px;
    }

    .services-item-food {
        background-image: url("../images/index/food.svg");
        background-repeat: no-repeat;
        background-position: 162.5px 81px;
    }

    .services-item-souvenir {
        background-image: url("../images/index/souvenirs.svg");
        background-repeat: no-repeat;
        background-position: 162.5px 81px;
    }

    .services-list li:nth-of-type(2)  {
        background-color: #ffffff;
    }

    .services-title {
        margin: 0;
        margin-top: 102px;
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 28px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    .description-services-item {
        margin: 0;
        text-align: center;
        color: #333333;
    }

    .search-hotel {
        padding: 96px 200px;
        text-align: center;
    }

    .lead-search {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        text-transform: uppercase;
    }

    .description-search {
        margin-top: 0;
        margin-bottom: 54px;
        font-size: 22px;
        line-height: 26px;
        font-weight: 400;
        text-align: center;
        color: #333333; 
    }

    .button-search {
        display: inline-block;
        font-size: 20px;
        line-height: 36px;
        padding: 8px 50px;
        color: #ffffff;
        background-color: #756157;
    }

    .wrapper-newsletter {
        color: #ffffff;
        background-color: #00bfff;
        background-image: url("../images/index/subscribe.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    } 

    .newsletter {
        margin: 0;
        padding: 96px 150px 104px;
        text-align: center;
    }

    .lead-newsletter {
        margin-top: 0;
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 36px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }

    .description-newsletter {
        margin-top: 0;
        margin-bottom: 54px;
        font-size: 22px;
        line-height: 26px;
        font-weight: 400;
    }

    .newsletter-form {
        display: flex;
        width: 684px;
        min-height: 52px;
        margin: 0 auto;
    }

    .newsletter-button {
        font-size: 20px;
        line-height: 36px;
        background-color: #82b3d3;
        color: #ffffff;
        width: 232px;
        height: 52px;
        border: none;
        border-radius: 0px 4px 4px 0px;
    }

    .field {
        width: 452px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-right: 0;
        padding-left: 20px;
        font-family: "PT Sans", sans-serif;
        font-size: 18px;
        line-height: 24px;
        border: none;
        border-radius: 4px 0px 0px 4px;
        color: #000000;
        background-color: #f2f2f2;
    }

    .wrapper-filter {
        background-image: url("../images/catalog/filter.jpg");
        background-color: #cd9575;
        background-size: cover;
        color: #ffffff;
        margin: 0 auto;
        padding: 35px 70px 70px;
        background-repeat: no-repeat;
        min-height: 412px;
        box-sizing: border-box;
    }

    .inner-header {
        width: 1060px;
        min-height: 107px;
        margin-bottom: 40px;
    }

    .inner-header-title {
        font-weight: 700;
        font-size: 60px;
        line-height: 78px;
        margin: 0;
        padding: 0;
        margin-bottom: 8px;
    }

    .breadcumbs {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        min-width: 114px;
        min-height: 21px;
        list-style-type: none;
        background-image: url("../images/catalog/arrow.svg");
        background-repeat: no-repeat;
        background-position: 23px center;
    }

    .breadcumbs-link-home {
        display: block;
        width: 12px;
        height: 12px;
        background-image: url("../images/catalog/home.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .breadcumbs-link {
        margin-left: 28px;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
    }

    .breadcumbs-link:hover {
        color: rgba(255, 255, 255, 0.6);
    }

    .breadcumbs-link:focus {
        color: rgba(255, 255, 255, 0.3);
    }

    .filter {
        display: flex;
        justify-content: space-between;
        width: 1060px;
        margin: 0 auto;
        padding: 0;
    }

    .filter-group {
        width: 151px;
        padding: 0;
        border: none;
    }

    .filter-infrastructure-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .filter-infrastructure-list li:not(:last-child) {
        margin-bottom: 16px;
    }

    .filter-housing-list {
        margin: 0;
        padding: 0;
        width: 151px;
        list-style-type: none;
    }

    .filter-housing-list li:not(:last-child) {
        margin-bottom: 16px;
    }

    .filter-title {
        margin-bottom: 32px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    .control {
        margin: 0;
        margin-bottom: 17.5px;
        font-family: "PT Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
    }

    .control:last-child {
        margin-bottom: 0;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        background-color: #ffffff;
        border-radius: 4px;
        border: 3px solid transparent;
        appearance: none;
    }

    input[type="radio"] {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #ffffff;
        border-radius: 4px;
        border: 3px solid transparent;
    }

    input[type="radio"]:hover {
        opacity: 0.6;
    }

    input[type="radio"]:focus {
        opacity: 0.3;
    }

    .filter-buttons {
        display: flex;
        flex-direction: column;
        width: 191px;
        min-height: 104px;
        padding: 0;
        margin: 0;
        margin-top: auto;
    }

    .button-submit {
        background-color: #82b3d3;
        color: #ffffff;
        width: 191px;
        height: 36px;
        margin-bottom: 32px;
        border: none;
    }

    .button-reset {
        background-color: rgba(0, 0, 0, 0);
        color: #ffffff;
        width: 191px;
        height: 36px;
        border: 3px solid transparent;
    }

    .products {
        margin: 0;
        padding: 50px 70px 60px;
    }

    .search-hotels {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        margin-bottom: 40px;
        padding: 0;
        width: 1060px;
        min-height: 49px;
    }

    .search-hotels-description {
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
        max-width: 440px;
        min-height: 36px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .select-control {
        font-family: "PT Sans", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #333333;
        width: 350px;
        padding: 12px 20px;
        padding-right: 40px;
        border: 2px solid #e5e5e5;
        border-radius: 4px;
        appearance: none;
        background-image: url("../images/catalog/arrow-down.svg");
        background-repeat: no-repeat;
        background-position: right 20px center;
    }

    .select-control:hover {
        border-color: #68a2ca;
    }

    .select-control:focus {
        border-color: #3f5e72;
        outline: none;
    }

    .select-control:disabled {
        border-color: rgba(0, 0, 0, 0.3);
        color: rgba(0, 0, 0, 0.3);
    }

    .view-buttons-list {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        max-width: 220px;
        height: 48px;
        list-style-type: none;
    }

    .view-button-item {
        margin-right: 8px;
    }

    .view-button-item:last-child {
        margin-right: 0;
    }

    .view-button {
        display: block;
        padding: 17px 16px;
        border: 2px solid #e5e5e5;
        border-radius: 4px;
        width: 48px;
        height: 48px;
    }

    .view-button:hover {
        border: 2px solid #000000;
    }

    .view-button:focus {
        border: 2px solid #68a2ca;
        outline: none;
    }

    .view-button:active {
        border: 2px solid #000000;
    }

    .view-button-current {
        border: 2px solid #000000;
    }

    .view-button-tile {
        background-image: url("../images/catalog/cards.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .view-button-card {
        background-image: url("../images/catalog/card-description.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .view-button-list {
        background-image: url("../images/catalog/card-list.svg");
        background-repeat: no-repeat;
        background-position: center;
    }

    .hotel-card-list {
        display: grid;
        grid-template-columns: repeat(3, 340px);
        gap: 20px;
        margin: 0;
        margin-bottom: 40px;
        padding: 0;
        padding-bottom: 40px;
        list-style-type: none;
        border-bottom: 1px solid #E6E6E6;
    }

    .hotel-card-item {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 20px;
        width: 340px;
        border: 1px solid #e6e6e6;
    }

    .hotel-card-row {
        display: grid;
        grid-template-columns: repeat(2, 140px);
        gap: 16px 20px;
        margin-top: auto;
    }

    .hotel-card-image {
        margin-bottom: 16px;
    }

    .hotel-card-title {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        width: 300px;
        margin-top: 0;
        margin-bottom: 16px;
        color: #000000;
    }

    .hotel-card-text {
        color: #333333;
    }

    .hotel-card-price {
        font-weight: 400;
        text-align: right;
        color: #333333;
    }

    .hotel-card-button {
        padding: 8px 16px;
        color: #ffffff;
        background-color: #756157;
    }

    .button-favorites {
        padding: 8px 10px;
        border: none;
        background-color: #82b3d3;
        color: #ffffff;
    }

    .button-favorites-choose {
        padding: 8px 10px;
        border: none;
        background-color: #7db54f;
        color: #ffffff;
    }

    .hotel-card-link {
        text-decoration: none;
    }

    .rating-star {
        background-image: url("../images/catalog/star.svg");
        background-repeat: repeat-x;
        background-position: left;
        background-size: 24px;
        margin: 0;
    }

    .rating-star-four {
        width: 96px;
    }

    .rating-star-three {
        width: 72px;
    }

    .rating-star-two {
        width: 48px;
    }

    .hotel-rating {
        background-color: #f2f2f2;
        color: #333333;
        border-radius: 4px;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        padding: 8px 22px;
    }

    .pagination {
        display: flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .pagination-item:not(:last-child) {
        margin-right: 8px;
    }

    .pagination-link {
        display: block;
        min-width: 60px;
        height: 60px;
        padding: 12px 12px;
        font-weight: 700;
        font-size: 20px;
        line-height: 36px;
        text-align: center;
        text-decoration: none;
        color: #ffffff;
        background-color: #82b3d3;
        border-radius: 4px;
    }

    .pagination-link:hover:not(.pagination-current):not(.pagination-link-points) {
        background-color: #68a2ca;
        border: 1px solid #82b3d3;
    }

    .pagination-link:focus:not(.pagination-current):not(.pagination-link-points) {
        background-color: #68a2ca;
        border: 1px solid #82b3d3;
        outline: none;
    }

    .pagination-link:active:not(.pagination-current):not(.pagination-link-points) {
        background-color: #82b3d3;
        color: rgba(255, 255, 255, 0.3);
    }

    .pagination-current {
        background-color: #f2f2f2;
        color: #000000;
    }

    .pagination-link-points {
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
        color: #000000;
        background-color: #ffffff;
    }

    .lead-newsletter-catalog {
        color: #000000;
    }

    .description-newsletter-catalog {
        color: #333333;
    }

    /*Подвал*/

    .page-footer {
        display: flex;
        justify-content: space-between;
        width: 1060px;
        min-height: 120px;
        align-items: center;
        margin: 0 auto;
        padding: 0;
    }

    .footer-social-list {
        display: flex;
        flex-wrap: wrap;
        width: 144px;
        min-height: 40px;
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    .footer-social-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 47px;
        height: 40px;
        color: #83b3d3;
        background-repeat: no-repeat;
        background-position: center;
    }

    .footer-social-link:hover {
        color: #68a2ca;
    }

    .footer-social-link:focus {
        color: #68a2ca;
    }

    .footer-social-link:active {
        color: rgba(104, 162, 202, 0.3);
    }

    .footer-contacts {
        width: 720px;
        min-height: 50px;
    }

    .footer-contacts-link {
        font-family: "PT Sans", sans-serif;
        font-weight: 400;
        font-size: 40px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        color: #000000;
        padding: 5px 194px;
    }

    .footer-contacts-link:hover {
        color: #756157;
    }

    .footer-contacts-link:focus {
        color: #756157;
    }

    .footer-contacts-link:active {
        color: rgba(117, 97, 87, 0.3);
    }

    .footer-logo-link {
        width: 115px;
        min-height: 33px;
        color: #000000;
    }

    .footer-logo-link:hover {
        color: #756157;
    }

    .footer-logo-link:focus {
        color: #756157;
    }

    .footer-logo-link:active {
        color: rgba(117, 97, 87, 0.3);
    }

    /* Состония для кнопок */

    .button-header:hover,
    .button-search:hover,
    .hotel-card-button:hover {
        background-color: #615048;
    }

    .button-header:focus,
    .button-search:focus,
    .hotel-card-button:focus {
        background-color: #756157;
        color: rgba(255, 255, 255, 0.3);
    }

    .button-header:disabled,
    .button-search:disabled,
    .hotel-card-button:disabled,
    .newsletter-button:disabled,
    .button-submit:disabled,
    .button-favorites:disabled,
    .button-favorites-choose:disabled {
        background-color: #e5e5e5;
    }

    .newsletter-button:hover,
    .button-submit:hover,
    .button-favorites:hover {
        background-color: #68a2ca;
    }

    .newsletter-button:focus,
    .button-submit:focus,
    .button-favorites:focus {
        background-color: #82b3d3;
        color: rgba(255, 255, 255, 0.3);
    }

    .button-reset:hover {
        opacity: 0.6;
    }

    .button-reset:focus {
        border: 3px solid #83b3d3;
        color: rgba(255, 255, 255, 0.3);
        outline: none;
    }

    .button-reset:disabled {
        opacity: 0.1;
    }

    .button-favorites-choose:hover {
        background-color: #6c9e42;
    }

    .button-favorites-choose:focus {
        background-color: #7db54f;
        color: rgba(255, 255, 255, 0.3);
    }